#root {
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  align-self: flex-start;
}

hr{
  margin-top: 30px;
  border: 1px #000 solid;
  border-radius: 10px;
}

h2{
  color: var(--title-color);
  margin-top: var(--spacing-top);
  text-align: start;
}

.animate__backInUp{
  animation-delay: 1s;
}

.animate__backInRight{
  animation-delay: 0.65s
}
