.customButton{
    width: 100px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(#3F3F3F, #272727);
    overflow: hidden;
    box-shadow: -5px -5px 6px rgba(0, 0, 0, 0.5);
}

.customButton h2{
  color: var(--title-color);

  font-size: 1.2em;
  z-index: 2;
}

.customButton::before{
  content: '';
  position: absolute;
  width: 180px;
  height: 100%;
  background: linear-gradient(#f8eca7, #FFD700);
  animation: rotate 10s linear infinite;
}

.customButton::after{
  content: '';
  position: absolute;
  background: linear-gradient(#3F3F3F, #272727);
  inset: 2px;
}



@keyframes rotate {
   
  from{
    transform: rotate(0deg);
  } 
  to{
    transform: rotate(360deg);
  }
   
}