@import 'globals.css';

.titleContainer{
    display: flex;
    text-align: center;
    min-width: 100%;
    height: 300px;
    background-color: #3d3e41;

}

.main{
    padding: 15px
}


.nameContainer{
    align-self: center;
    width: 100%;
    place-self: center;
    padding: 5px;
}

.nameContainer h1{
    font-size: var(--main-title-size);
    min-width: 100%;
    text-align: initial;
    color: var(--title-color);
  
}

.nameContainer p{
    float: left;
    font-size: var(--main-text-size);
    color: var(--text-color);
}


.profileImg{
    height: 100%;
    place-self: end;
}

@media (max-width: 475px) {

    .nameContainer h1{
        margin-top: 20px;
        font-size: var(--main-title-smallSize);
        min-width: 100%;
        text-align: initial;
        color: var(--title-color);
      
    }
    
    .nameContainer p{
        float: left;
        font-size: var(--main-text-smallSize);
        color: var(--text-color);
    }

    .profileImg{
        height: 80%;
        place-self: end;
    }
}