@import 'globals.css';

.titleContainer{
    display: flex;
    text-align: center;
    min-width: 100%;
    height: 250px;
    background-color: #3d3e41;

}

.main{
    padding: 15px;
    max-width: var(--main-max-width);
    margin: 0 auto;
}

.navContainer{
    z-index: 1;
}

.nameContainer{
    align-self: center;
    max-width: 100%;
    place-self: center;
    padding: 5px;
    margin-top: 20px;
}

.nameContainer h1{
    font-size: var(--main-title-size);
    min-width: 100%;
    text-align: initial;
    color: var(--title-color);
    float: left;
}

.nameContainer p{
    float: left;
    font-size: var(--main-text-size);
    color: var(--text-color);

    text-align: left;
}


.profileImg{
    height: 100%;
    place-self: end;
}

.linksContainer{
    display: flex;
    place-self: end;
    margin-left: auto;
}

.personalInfo{
    display: flex;
    text-align: center;
    min-width: 100%;
    justify-content: center;
}

@media (max-width: 545px) {

    .nameContainer{
        position: absolute;
        left: 40%;
  
    }

    .nameContainer h1{
       
        font-size: var(--main-title-smallSize);
        min-width: 100%;
        text-align: initial;
        color: var(--title-color);
    
    }
    
    .nameContainer p{
        float: left;
        font-size: var(--main-text-smallSize);
        color: var(--text-color);
     
    }

    .profileImg{
        height: 80%;
        place-self: end;
    }
}