.sectionContainer{
    text-align: start;
    justify-content: center;
}

.sectionContainer h2{
    margin-top: var(--spacing-top);
    color: var(--title-color);
    font-size: var(--section-title-size);
}

.sectionContainer p{
    margin-left: 10px;
    font-size: var(--section-text-size);
}


.sectionContent{
    margin-top: var(--spacing-top);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.iconContainer{
    float: left;
    margin: 0 25px 10px 0;
    text-align: center;
    width: 80px;
}

.iconContainer img{
    width: 40px;
    height: 40px;
}